<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>StibitsDevops.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F289C9E024F7B9050082B408</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F289C9F624F7B9080082B408</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F289CA0124F7B9080082B408</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
